DB_HOST=localhost
DB_PORT=5432
DB_USER=myuser
DB_PASSWORD=mypassword
DB_NAME=flash_sale_db

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=300

# JWT Configuration
JWT_SECRET=change-me-in-local-env